h1 {
  text-align: center;
  font-size: 3rem;
}

label {
  display: flex;
  margin: auto;
  cursor: pointer;
  background-color: darkgrey;
  width: 300px;
  height: 60px;
  border: 2px solid darkslategray;
  border-radius: 10px;
}

label p {
  margin: auto;
  font-weight: bold;
  color: azure;
  font-size: 2rem;
}

input[type="file"] {
  display: none;
}

.data-row {
  display: flex;
  width: 60vw;
  margin: auto;
  border-bottom: 1px solid black;
  height: 40px;
  align-items: stretch;
  justify-content: space-evenly;
}

.data-row div {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: azure;
}

.data-row div:nth-child(even) {
  background-color: deepskyblue;
}

.data-row div:nth-child(odd) {
  background-color: cornflowerblue;
}